<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.smuasset.mapper.communityMapper">
	<insert id="insertWrite" parameterType="communityVO">								
		INSERT INTO community (title, nickname, timestamp, hits, content) values
		 (#{title}, #{nickname},CURRENT_TIMESTAMP, #{hits}, #{content});
	</insert>
</mapper>